#tarea-card {
  height: 350px;
}

#no-hay-tarea {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ml-2 {
  margin-left: 0.8rem;
}

/* p,
h1,
h3 {
  margin: 0 !important;
  padding: 0 !important;
} */
